.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.card.rounded {
  border-radius: 1rem !important;
}
