<div class="container mt-4">
  <h1 class="p-2 mb-4">Stats</h1>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead class="table-dark">
          <tr>
            <th>Status</th>
            <th>Count</th>
            <th>Percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Open</td>
            <td>{{ open }}</td>
            <td>{{ ((open / total) * 100).toFixed(2) }} %</td>
          </tr>
          <tr>
            <td>Started</td>
            <td>{{ started }}</td>
            <td>{{ ((started / total) * 100).toFixed(2) }} %</td>
          </tr>

          <tr>
            <td>In Progress</td>
            <td>{{ inprogress }}</td>
            <td>{{ ((inprogress / total) * 100).toFixed(2) }} %</td>
          </tr>
          <tr>
            <td>complete</td>
            <td>{{ complete }}</td>
            <td>{{ ((complete / total) * 100).toFixed(2) }} %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
