<footer class=" text-center text-white py-3">
  <p><strong>Devashish Patil</strong></p>
  <div>
    <a
      href="https://github.com/devashishpatil23"
      class="text-white me-3"
      target="_blank"
    >
      <i class="bi bi-github" style="font-size: 1.8rem"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/devashish-patil-71830a347/"
      target="_blank"
      class="text-white"
      target="_blank"
    >
      <i class="bi bi-linkedin" style="font-size: 1.8rem"></i>
    </a>
  </div>
</footer>
