<app-create-task
  (closeForm)="onCloseForm()"
  (updatedTask)="fetchUpdatedTasks()"
  *ngIf="showForm()"
  [editTask]="editTask()"
></app-create-task>

<app-task-details
  [task]="showTask()"
  (closeDetialsView)="closeDetialsView()"
  *ngIf="showDetailsView()"
></app-task-details>
<div
  class="d-flex flex-column flex-lg-row px-3 py-2 justify-content-between align-items-center my-3"
>
  <h3>Tasks</h3>
  <div class="d-flex">
    <button class="btn btn-primary m-1" (click)="onCreateTask()">
      Create task
    </button>
    <button (click)="clearAllTasks()" class="btn btn-danger m-1">
      Clear all tasks
    </button>
  </div>
</div>

<app-filter (filterApplied)="onFilterApplied($event)"></app-filter>

<div class="mt-4 cards-wrapper position-relative">
  <div *ngIf="isLoading()" class="spinner-wraper text-center">
    <app-loader></app-loader>
    <p>Loading!</p>
  </div>

  <div *ngIf="filteredTasks().length < 1 && !isLoading()" class="my-5">
    <h3 class="text-muted ps-lg-5">No task found!</h3>
  </div>

  <div class="d-flex flex-wrap justify-content-center justify-content-center">
    @for (task of filteredTasks(); track $index) {
    <app-task-card
      [task]="task"
      (deleteTask)="onDeleteTask($event)"
      (showTaskDetails)="showTaskDetails($event)"
      (editTask)="onEditTask($event)"
    >
      ></app-task-card
    >
    <!-- <div
      class="card task-card mx-3 my-4 shadow-sm"
      [ngClass]="'border-' + task.priority"
    >
      <div class="card-body p-4">
        <div class="task-title border-bottom mb-3 pb-2">
          <h4 class="mb-0 fw-bold">{{ task.title }}</h4>
        </div>

        <p class="mb-2">
          <span class="fw-semibold text-secondary">Created by:</span>
          <span class="text-dark"> {{ task.createdBy }} </span>
        </p>

        <p class="mb-2">
          <span class="fw-semibold text-secondary">Assigned to:</span>
          <span class="text-dark"> {{ task.assignedTo }} </span>
        </p>

        <p class="mb-2">
          <span class="fw-semibold text-secondary me-2">Priority:</span>
          <span class="badge" [ngClass]="'priority-badge-' + task.priority">{{
            task.priority
          }}</span>
        </p>

        <p class="mb-3">
          <span class="fw-semibold text-secondary me-2">Status:</span>
          <span class="fw-semibold">{{ task.status }}</span>
        </p>

        <div class="d-flex justify-content-end gap-2 mt-3">
          <button
            (click)="showTaskDetails(task)"
            class="btn text-primary"
            title="Detail"
          >
            <i class="bi bi-info-circle"></i>
          </button>
          <button (click)="onEditTask(task)" class="btn btn-sm" title="Edit">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button
            (click)="onDelteTask(task.id)"
            class="btn text-danger"
            title="Delete"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div> -->

    }
  </div>
</div>
